:root{
    --nav-color:#feffde;
    --primary-color:#F3E4C3;
    --feature-card:rgb(218, 218, 169) ;
    --price-card:rgba(206, 176, 66, 0.704) ;
}
.button {
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 250;
    font-style: normal;
}

.button:hover {
    background-color: #333;
}

h1{
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-size: 35px;
}

h2{
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

p{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color:var(--nav-color);
    height: fit-content;
    padding: 10px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    border: 2px solid rgba(0, 0, 0, 0.49);
}

.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;font-family: "Kanit", sans-serif;
    font-weight: 250;
    font-style: normal;
}

ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: right;
    gap: 0px;
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px 20px 100px 20px;
    background-color:var(--primary-color);
}

#product-image {
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#product-image {
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.product-image {
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #dbc56100;
}


.card div {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    
}

#featureHeading{
    background-color: var(--primary-color);
    margin: 0px;
    padding: 30px 20px;
    border-top:1px solid rgba(0, 0, 0, 0.441) ;
}

.feature-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    background-color: var(--primary-color);
    border-radius: 0px 0px 100px 100px;
}

.feature-card {
    background-color: var(--feature-card);
    padding: 100px 30px 100px 30px;
    border-radius: 75px;
    box-shadow: 0 0 50px rgba(37, 37, 37, 0.349);
    transition: box-shadow 0.3s ease, scale 0.3s ease
}

.feature-card:hover{
    scale:1.01;
    box-shadow: 0 0 75px rgba(0, 0, 0, 0.5);
}


.feature-card img {
    height: 100px;
}

.price-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 0px;
    background-color:var(--primary-color);
}

.price-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--price-card);
    padding: 100px 20px 100px 20px;
    box-shadow: 0 0 75px rgba(37, 37, 37, 0.349);
    transition: box-shadow 0.3s ease, scale 0.3s ease
}

.price-card:hover{
    scale : 1.01;
    box-shadow: 0 0 75px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

footer p {
    margin: 2px;
    font-size: 15px;
}

.sectionTitle {
    font-size: 35px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

